<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputFolder" value="C:\TestFiles"/>
    <add key="OutputFolder" value="C:\TestFiles\Wynik"/>
    <add key="WordsFile" value="Words.txt"/>
    <add key ="WordsExceptionFile" value="WordsException.txt"/>
  </appSettings>
</configuration>